*  /*CSS Reset*/
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background: rgb(19, 3, 41);  
    margin: 0;
    min-width: 250px;
    min-height: 100px;

}

.container
{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

a
{
    color: #eee;
    font-size: 30px;
    margin: 0 10px;
}